* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-block-start: 3em;
}

#drawing-arm {
    animation: arm 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes arm{
    0% {
        transform: rotate(0deg);

    }
    33% {
        transform: rotate(14deg);

    }
    66% {
        transform: rotate(14deg);

    }
    100% {
        transform: rotate(0deg);
    }
}

#torso {
    animation: torso 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes torso {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(5deg) scale(1.05, 0.95);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

#head {
    animation: head 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes head {
    0% {
        transform: rotate(0deg) translate(0);
    }
    50% {
        transform: rotate(10deg) translate(5px, 3px);
    }
    100% {
        transform: rotate(0deg) translate(0);
    }
}

#neck {
    animation: neck 5s ease infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes neck {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05, 0.9);
    }
    100% {
        transform: scale(1);
    }
}

#tablet {
    animation: tablet 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes tablet{
    0% {
        transform: rotate(0deg);

    }
    33% {
        transform: rotate(16deg);

    }
    66% {
        transform: rotate(16deg);

    }
    100% {
        transform: rotate(0deg);
    }
}

#legs {
animation: legs 5s ease infinite;
transform-origin: top;
transform-box: fill-box;
}

@keyframes legs {
0% {
    transform: translate(0) scale(1) rotate(0deg);
}
50% {
    transform: translate(-2px, 5px) scale(1) rotate(5deg);
}
100% {
    transform: translate(0) scale(1) rotate(0deg);
}
}

#leg-back, #leg-back-shadow, #foot-back {
    animation: backleg 5s ease infinite;
    transform-origin: center;
}

@keyframes backleg {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1, 0.9) rotate(10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

#pen {
    animation: pen 5s ease infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes pen{
    0% {
        transform: rotate(0deg);

    }
    33% {
        transform: rotate(0deg);
    }
    48% {
        transform: rotate(6deg);
    }
    66% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(0deg);
    }
}